/********** black layout color***********/

body {
  color: #fff;
  background-color: #111;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  color:#fff;
}
