/*-- Themes Color --*/
.main-nav,
.navbar-others ,
.progress-bar.progress-bar-primary, 
.single-table.featured, 
.btn.btn-primary, 
.twitter-icon .fa-twitter, 
.twitter-left-control:hover, .twitter-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit:hover,
#footer, 
.caption .btn-start:hover, 
.folio-overview a:hover,
.dropdown-menu li a:hover,
.blog-date p,
.blog-date-sb p,
.blog-btn:hover,
#back-top .btn-primary,
.comments .media-body a,
.home-btn:hover,
.pagi .pagination>.active>a,
.pagi .pagination>.active>a:focus,
.pagi .pagination>.active>a:hover,
.pagi .pagination>.active>span,
.pagi .pagination>.active>span:focus,  
.pagi .pagination>.active>span:hover,
.pagi .pagination>li>a:focus,
.pagi .pagination>li>a:hover, 
.pagi .pagination>li>span:focus, 
.pagi .pagination>li>span:hover,
#footer .footer-bottom,
.accordion-toggle ,
.comment-form .btn-submit,
.blog-sidebar  ul li a:hover, 
.tooltip > .tooltip-inner,
.heading h2:after,
.blog-sidebar a.list-group-item:hover i,
.blog-sidebar a.list-group-item:focus i,
#blog-slider .left-control:hover,
#blog-slider .right-control:hover,
#blog-slider .carousel-indicators .active,
.blog-sidebar a.list-group-item i,
.panel-default .panel-heading,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background-color: #82B440;
}

#home-slider .caption h1 span,
#home-video .caption h1 span, 
#about-us .lead span,
#twitter-carousel .item span, 
#footer .footer-bottom, 
#single-portfolio .close-folio-item:hover,
#portfolio-details p strong, 
.single-table.featured .btn.btn-primary, 
.contact-info ul li a:hover, 
#footer .footer-bottom a,
.open > .dropdown-menu li a,
#blog-fw-content h1 a:hover,
.icon-holder a:hover,
a.media-heading,
a.default-text:hover,
.comments .media-body a:hover,
.com-text span,
.comment-form .btn-submit:hover,
.error-page span,
.blog-text h1 a:hover,
.service-icon,
.preloader,
.high-light,
.left-control:hover, 
.right-control:hover,
.caegories a.active,
.categories-bar:hover,
.map-button:hover span,
.video-parallax .container h1 span,
.video-parallax .contact-info i,
.video-parallax .contact-info a:hover,
.member-info h4,
.blog-sidebar a.list-group-item:hover,
.blog-sidebar a.list-group-item:focus,
.blog-sidebar .media .media-body a:hover span,
.lb-data .lb-caption 
 {
  color: #82B440;
}

.caption .btn-start:hover, 
.blog-sidebar .list-group-item.active:before,
.blog-sidebar .sidebar-heading:before,
.blog-sidebar  ul li a:hover,
.comments .media-body a,
.comments .media-body a:hover,
.com-text:before,
.comment-form .btn-submit:hover,
.comment-form .btn-submit,
.home-btn:hover,
.caegories a.active,
.categories-bar:hover,
.comments .media img,
.btn-submit:hover,
.form-control:focus,
.twitter-left-control:hover, 
.twitter-right-control:hover, 
.btn-loadmore:hover,
.blog-btn:hover,
.pagi .pagination>.active>a,
.pagi .pagination>.active>a:focus,
.pagi .pagination>.active>a:hover,
.pagi .pagination>.active>span,
.pagi .pagination>.active>span:focus,  
.pagi .pagination>.active>span:hover,
.pagi .pagination>li>a:focus,
.pagi .pagination>li>a:hover, 
.pagi .pagination>li>span:focus, 
.pagi .pagination>li>span:hover,
.folio-overview a:hover,
.panel-default,
.nav-tabs>li>a,
.tab-content {
	border-color: #82B440;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #82B440;
}

::selection {
  background: #82B440;
  color: white;
}